<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<title>Ciao Giove!</title>
	</head>
	<body>
		<h1>Ciao Giove!</h1>
		<p><strong>Tanti auguri!</strong><p>
		<p>Ma sei davvero tu? Non sei forse un malvagio clone del Sant'Anna?<p>
		<p>Per favore, verifica la tua identità.</p>
		<form action="/profile" method="get">
			Password: <input type="password" name="password"><br>
			<input type="submit" value="Invia">
		</form>
	</body>
</html>
