<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<title>Ciao Giove!</title>
	</head>
	<body>
		<h1>Comandi</h1>
		<ul>
			<li><a href="/garden/state">State</a></li>
			<li><a href="/garden/reset">Reset</a></li>
			<li><a href="/garden/action?move=up">Move up</a></li>
			<li><a href="/garden/action?move=down">Move down</a></li>
			<li><a href="/garden/action?move=left">Move left</a></li>
			<li><a href="/garden/action?move=right">Move right</a></li>
		</ul>
	</body>
</html>
