<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<title>Ciao Giove!</title>
	</head>
	<body>
		<h1>La password è giusta :D</h1>
		<p>Ottimo. Ora che sappiamo che sei proprio tu, puoi aprire il regalo.</p>
	</body>
</html>
