<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<title>Ciao Giove!</title>
	</head>
	<body>
		<h1>Recupero password</h1>
		<p>Captcha? Verifica della password? Pfff...</p>
		<p>Noi abbiamo un <strong>robot</strong> in un <strong>labirinto</strong>, e tu ora devi guidarlo. La password è su un foglietto che è stato lasciato in uno dei corridoi.</p>
		<p>Corri! Non hai molto tempo.</p>
		<ul>
			<li><a href="robot/state">Stato del robot.</a></li>
			<li><a href="robot/action">Interfaccia di controllo del robot.</a> Da usare passando il parametro GET <code>?move={up|down|left|right}</code></li>
		</ul>
		<p>Quando il robot passa sopra ad un foglietto lo legge e carica il testo in memoria.</p>
		<p>Prima di morire (dopo 24 ore il computer esplode, sai...), l'ultimo hacker stava utilizzando questo codice:</p>
<pre>
Python blablabla...
</pre>
	</body>
</html>
