<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<title>Ciao Giove!</title>
	</head>
	<body>
		<h1>Recupero password</h1>
<p>Captcha? Email di verifica? Riconoscimento facciale? Pfff…</p> 
<p style="padding-left:50px; font-style: italic;">...un rumore di dadi lanciati in lontananza, poi il buio...</p>

<p>Ti risvegli sdraiato in terra, la testa appoggiata su un antico codice del monaco medioevale Serpens Monty scritto in caratteri gotici ormai sbiaditi.<br/> 

Sei attorniato da siepi altissime, il cielo quasi non si vede, ma la vegetazione ti suggerisce che quello è il Giardino di Boboli e ti trovi al centro del suo labirinto. <br/>

Grazie a Cominelli ad un tratto

<p style="padding-left:50px; font-style: italic;">

... ti sovvien l'eterno, <br/>
e le morte stagioni, e la presente <br/>
e viva, e 

</p>

<p>rimembri anche dell'antica maledizione che infesta quei luoghi: se non sarai fuori entro 24 ore verrai inghiottito dalla vegetazione circostante. Non c'è altra soluzione, devi uscire da lì al più presto e, forse, una volta in salvo capirai quale sarà la prossima mossa.</p>

<p>Grazie al tuo terzo occhio scopri di poter conoscere <a href="/giove/state">la tua posizione</a>, ma non basta, qualche arcano maleficio ti impedisce di muoverti come vorresti.<br/>

Con gran fatica riesci a sfogliare le poche pagine leggibili del manoscritto...</p>


<pre>
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import requests
import random
import time

state_url = "https://giove.herokuapp.com/giove/state"
action_url = "https://giove.herokuapp.com/giove/action"
session = requests.session()
errors = False
state = {}

def get_state():
	print "Get state"
	try:
		res = session.get(state_url)
		if res.status_code == 200:
			return res.json()
		else:
			print "Error HTTP {0} {1}".format(res.status_code, res.text)
			errors = True
	except requests.ConnectionError as e:
		print "Error at get_state. {0}".format(e)
		errors = True
	return {}

def send_move(direction):
	print "Send move:", direction
	try:
		res = session.get(action_url, params={"move": direction})
		if res.status_code == 200:
			print res.text
		else:
			print "Error HTTP {0} {1}".format(res.status_code, res.text)
			errors = True
	except requests.exceptions.RequestException as e:
		print "Error at send_move. {0}".format(e)
		errors = True

### MAIN ###

state = get_state()
while not errors:
	# Move
	direction = random.choice(["left", "right", "up", "down"])
	send_move(direction)
	
	# Read state
	state = get_state()
	print "Position: ({0}, {1})".format(
		state["giove"]["position"]["x"],
		state["giove"]["position"]["y"]
	)
	print "Memory: {0}".format(state["giove"]["memory"])
	
	# Wait
	time.sleep(100)
</pre>
	</body>
</html>
