<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<title>Ciao Giove!</title>
	</head>
	<body>
		<h1>Password sbagliata :(</h1>
		<p><blink>Allarme! Allarme! Allarme!</blink></p>
		<p>Le procedure automatiche di sicurezza sono state attivate.</p>
		<p>Questo computer si autodistruggerà tra 24 ore.</p>
		<p>Se sei davvero Giovanni, puoi tentare di <a href="recovery">recuperare la password</a>.</p>
	</body>
</html>
