<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<title>Ciao Giove!</title>
	</head>
	<body>
		<h1>Password sbagliata :(</h1>
		<p><strong>Allarme! Allarme! Allarme!</strong></p>
		<p>Le procedure automatiche di sicurezza sono state attivate.</p>
		<p>Se sei davvero Giovanni, puoi tentare di <a href="/recovery">recuperare la password</a> (ma, ricorda, questo non sarà un normale recupero, la tua unica speranza sarà finire la partita).</p>
	</body>
</html>
